*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ffb032, #ff4545);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: rgba(255, 53, 53, 0.75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(252, 185, 62, 0.75);
  }
  
  .span-two {
    grid-column: span 2;
  }

  .span-three {
    grid-column: span 3;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(250, 207, 128, 0.75);
    ;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-number {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
  
  .output .current-number {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
  }
